.footer {
    background-color: var(--bg-black);
    color: var(--text-light);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 40px;
}

.footer_nav li a {
    color: var(--text-light);
    text-decoration: none;
}

.footer_flex {
    display: flex;
}

@media (max-width: 768px) {
    .footer_flex {
        flex-direction: column;
        gap: 15px;
    }
    
    .footer {
        height: min-content;
        padding: 20px 0;
    }
}