.custom_nav {
    padding: 20px 0!important;
    background-color: var(--bg-black);
    position: fixed;
}

.custom_nav a {
    font-size: 16px;
    font-weight: 500;
}

.custom_nav .logo {
    height: 40px;
}

.custom_nav .custom_dropdown_item {
    color: var(--text-dark);
    width: 100%;
    padding: 5px 15px;
    font-weight: 300;
}

.custom_nav .custom_dropdown_item:focus,
.custom_nav .custom_dropdown_item:hover,
.custom_nav .custom_dropdown_item:active {
    color: var(--text-dark)!important;
}

.custom_nav .custom_dropdown_item:active {
    background-color: var(--color-pale);
}

.custom_nav .cart_count {
    display: inline-flex;
    width: 30px;
    height: 30px;
    line-height: 30px;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--text-dark);
    border-radius: 50%;
    font-weight: 400;
}

.custom_nav .custom_button {
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    padding: 0 30px!important;
    background-color: var(--main-color);
    color: var(--text-dark);
    border-radius: 2000px;
}