.form_panel {
    gap: 2rem;
}

.form_panel .form_control {
    height: 50px;
    font-weight: 400;
    border-radius: 2000px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.form_panel .slim {
    font-weight: 300;
}

.form_panel .form_control:focus {
    border-color: var(--sub-color);
    box-shadow: 0 0 0 .25rem rgba(179, 123, 60, 0.25);
}

.form_panel .form_button {
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    max-width: 350px;
    color: var(--text-light);
}

.form_panel .form_button,
.form_panel .form_button:hover,
.form_panel .form_button:active,
.form_panel .form_button:focus {
    background-color: var(--sub-color);
    color: var(--text-light);
    box-shadow: none;
}

@media (max-width: 768px) {

    .form_panel .form_control {
        font-size: 14px;
    }
}